# =======================================
# 🔒 ENTORNOS / SECRETS (NUNCA SUBIR)
# =======================================
.env
.env.*
.env.local
.env.production
.env.development
.env.test
*.env

# =======================================
# 🔧 COMPILACIÓN / OUTPUTS
# =======================================
dist/
build/
out/
firebase-debug.log*

# =======================================
# 📦 DEPENDENCIAS
# =======================================
node_modules/
pnpm-lock.yaml
package-lock.json

# =======================================
# 🧩 ARCHIVOS DEL SISTEMA
# =======================================
.DS_Store
Thumbs.db

# =======================================
# ⚡ Vite / React
# =======================================
.vite
*.cache
vite.config.timestamp-*

# Cobertura
coverage/
.nyc_output
